doctype html
//html(class="no-js", lang="")
html
  head
    title= title
    //meta(charset="utf-8")
    //meta(http-equiv="x-ua-compatible", content="ie=edge")
    //meta(name="description" description=description)
    //meta(name="viewport" content="width=device-width, initial-scale=1")

    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=0")
    meta(name="keywords" content="Стартапы, IT, startup")
    meta(name="description" content="IT-стартап")

    link(rel="apple-touch-icon", href="apple-touch-icon.png")
    link(rel="apple-touch-icon1", href="apple-touch-icon.png")
    link(href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ", crossorigin="anonymous")
    style#css!= css
  body
    #app!= body
    script(src=entry)
    script.
      window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
      ga('create','#{trackingId}','auto');ga('send','pageview')
    if trackingId
      script(src="https://www.google-analytics.com/analytics.js", async=true, defer=true)
